/* FIXME: style links for hover and after click */
/* TODO: add media querys */
/* TODO: style links on home page for hover and after click */
/* TODO re-style button */

@use "vars" as v;
@use "global" as g;
/* ----------------------------- General styles ----------------------------- */
@include g.root-style;

html {
  scroll-behavior: smooth;
  cursor: default;
  overflow-x: hidden;
}

body {
  background: v.$white;
  color: v.$black;
  margin: 0;
  font-family: v.$ff-secondary;
  font-size: v.$fs-body;
  line-height: 1.6;
}

img {
  display: block;
  width: 100%;
}

strong {
  font-weight: v.$fw-bold;
}

section {
  height: 100vh;
  width: 100vw;
}
