/* --------------------------------- COLORS --------------------------------- */
/* ---------------------------------- Fonts --------------------------------- */
/* ------------------------------ Font-Weights ------------------------------ */
/* ------------------------------- Font-Size ------------------------------- */
/* ------------------------------- Media ------------------------------ */
/* FIXME: style links for hover and after click */
/* TODO: add media querys */
/* TODO: style links on home page for hover and after click */
/* ----------------------------- General styles ----------------------------- */
html {
  scroll-behavior: smooth;
  cursor: default;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: #f7f7ed;
  color: #0c0f0a;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

strong {
  font-weight: 500;
}

section {
  height: 100vh;
  width: 100vw;
}

#button:hover {
  color: #3a86ff;
  border: 2px solid #3a86ff;
}

/* --------------------------------- HEADER --------------------------------- */
.header_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  position: sticky;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header_main .header_logo {
  margin: 1em;
  height: 3em;
}
.header_main .header_button_cv_link {
  border: 2px solid #0c0f0a;
  margin-right: 1em;
  margin-bottom: 1.2em;
  padding: 2px 8px 2px 8px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #0c0f0a;
}

/* ------------------------------ home section ------------------------------ */
.home_section {
  background: #f7f7ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_section_hero_title_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8em;
  background: #f7f7ed;
}
.home_section_hero_title_div #home_hero_title {
  text-transform: uppercase;
  font-size: 8em;
  margin: 0;
  color: #0c0f0a;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.home_phrase_div {
  background-color: #f7f7ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home_phrase_div #home_phrase {
  color: #0c0f0a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 4em;
}

/* ------------------------------- Line Break ------------------------------- */
#home_section_break {
  margin: 3em 20% 0 20%;
  display: block;
  border: 1px solid #c2c2c2;
}

/* ----------------------------- Home Nav Links ----------------------------- */
.nav_div {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 90em;
}
.nav_div .nav_ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
}
.nav_div .nav_ul .nav_a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #0c0f0a;
  border: 2px solid #0c0f0a;
  padding: 0.5em;
}