/* --------------------------------- COLORS --------------------------------- */
/* ---------------------------------- Fonts --------------------------------- */
/* ------------------------------ Font-Weights ------------------------------ */
/* ------------------------------- Font-Size ------------------------------- */
/* ------------------------------- Media ------------------------------ */
/* FIXME: style links for hover and after click */
/* TODO: style links on home page for hover and after click */
/* TODO: add :hover to Download-CV */
/* ----------------------------- General styles ----------------------------- */
html {
  scroll-behavior: smooth;
  cursor: default;
  overflow-x: hidden;
  /* ----------------------------- ANCHOR height: 100vh; ----------------------------- */
}

html::-webkit-scrollbar {
  display: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 500;
}

section {
  width: 100%;
  height: 100%;
}

#button:hover {
  color: #3a86ff;
  border: 2px solid #3a86ff;
}

/* --------------------------------- HEADER --------------------------------- */
.header_main {
  display: flex;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header_main .header_logo {
  margin: 1em;
  height: 3em;
}
.header_main .header_download {
  margin: 1em;
  height: 3em;
}

body {
  background: #f7f7ed;
  color: #0c0f0a;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  /* ------------------------------ Home Section ------------------------------ */
  /* ------------------------------- Line Break ------------------------------- */
  /* ----------------------------- Home Nav Links ----------------------------- */
}
body .home_section {
  background: #f7f7ed;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
body .home_section .home_section_hero_title_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
  background: #f7f7ed;
}
body .home_section .home_section_hero_title_div #home_hero_title {
  text-transform: uppercase;
  font-size: 8em;
  margin: 0;
  color: #0c0f0a;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
body .home_phrase_div {
  background-color: #f7f7ed;
  display: flex;
  justify-content: center;
}
body .home_phrase_div #home_phrase {
  color: #0c0f0a;
  justify-content: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 4em;
}
body #home_section_break {
  margin: 3em 20% 0 20%;
  display: block;
  border: 1px solid #c2c2c2;
}
body .nav_div {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 90em;
}
body .nav_div .nav_ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
body .nav_div .nav_ul .nav_a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #0c0f0a;
  border: 2px solid #0c0f0a;
  padding: 0.5em;
}
body .card-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}
body .card-section .card-container {
  display: flex;
  flex-direction: column;
  background: lightgreen;
  width: 100rem;
  height: 60rem;
}
body .card-section .card-container .card-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: coral;
  height: 50%;
}
body .card-section .card-container .card-top .card {
  width: 15rem;
  height: 20rem;
  padding: 2%;
  background: rgb(255, 255, 255);
  border: 2px solid #0c0f0a;
  transition-duration: 600ms;
  transition-property: border-top, border-left, border-bottom, border-right, box-shadow;
}
body .card-section .card-container .card-top .card:hover {
  cursor: pointer;
  border-top: 2px solid #0c0f0a;
  border-left: 2px solid #0c0f0a;
  border-bottom: 2px solid #0c0f0a;
  border-right: 2px solid #0c0f0a;
  box-shadow: rgb(0, 0, 0) 1rem 1rem;
}
body .card-section .card-container .card-top .card__content {
  font-size: small;
  text-align: center;
}
body .card-section .card-container .card-top .card__content-heading {
  color: #0c0f0a;
}
body .card-section .card-container .card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: purple;
  height: 50%;
}
body .card-section .card-container .card-bottom .card {
  width: 15rem;
  height: 20rem;
  padding: 2%;
  background: rgb(255, 255, 255);
  border: 2px solid #0c0f0a;
  transition-duration: 600ms;
  transition-property: border-top, border-left, border-bottom, border-right, box-shadow;
}
body .card-section .card-container .card-bottom .card:hover {
  cursor: pointer;
  border-top: 2px solid #0c0f0a;
  border-left: 2px solid #0c0f0a;
  border-bottom: 2px solid #0c0f0a;
  border-right: 2px solid #0c0f0a;
  box-shadow: rgb(0, 0, 0) 1rem 1rem;
}
body .card-section .card-container .card-bottom .card__content {
  font-size: small;
  text-align: center;
}
body .card-section .card-container .card-bottom .card__content-heading {
  color: #0c0f0a;
}/*# sourceMappingURL=style.css.map */