/* :root {
    --------------------------------- COLORS --------------------------------- 
    --black: #02010c;
    --green: #003826;
    --pink: #DBB3B3;
    --orange: #F6AA1C;
    --white: #F7F7ED;


    --ff-primary: 'Bebas Neue', cursive;
    --ff-secondary: 'Roboto', sans-serif;

    --fw-light: 100;
    --fw-reg: 300;
    --fw-bold: 900;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);


} */

/* --------------------------------- Colors --------------------------------- */

$black: #02010c;
$green: #003826;
